**/.venv
**/.DS_Store
**/db
**/*.db
**/__pycache__
**/static
**/node_modules
**/dist
**/logs
**/*.log
**/*.csv
**/assets
**/conf
**/tmp
**/metro_information
.env
web_server/
**/mount/
compose.yaml
**/*.txt
**/scripts/*.py