  .panel {
    position: fixed;
    top: 0px;
    right: 0;
    width: 450px;
    height: 100%;
    background: white;
    
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 20px;
    box-shadow: -2px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 16px 16px 16px;
    z-index: 1000;
    transition: right 0.3s ease; /* 부드러운 전환 효과 */
    box-sizing: border-box;
  }

  #overlay-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    z-index: 1000;

    border-radius: 0 0 0 20px;
    background-color: black;
    opacity: 20%;
    box-sizing: border-box;
  }

  .panel-open-button {
    position: absolute;
    opacity: 0;   
  }

  @media screen and (max-width: 450px) {
    .panel-open-button {
      position: relative;
      opacity: 100;
      background-color:  #e5e7eb;
      border: none;
      margin-left: 80%;
      border-radius: 5px;
      height: 30px;
    }

    .panel {
      max-width: 100%;
      position: absolute;
      border-radius: 20px 20px 0 0;
      top: 60%;
      left: 0;
      transition: 200ms;
      box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    }

    .panel.open {
      max-width: 100%;
      position: absolute;
      border-radius: 20px 20px 0 0;
      top: 0;
      left: 0;
      transition: 200ms;
    }
  }
