  .svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 450px);
    height: 100%;
  }
  
  .svg-wrapper {
    width: 100%;
    transition: transform 0.1s ease-out;
  }
  
  .svg-wrapper svg {
    width: 60%; /* when svg element's scale is 1, width is fitted*/
    max-height: 100%;
    object-fit: contain;
  }
  
  .svg-wrapper .station{
    cursor: pointer;
  }

  @media screen and (max-width: 450px) {
    .svg-container {
      width: 100%;
      height: 60%;
    }
  }